@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;1,400&display=swap');

body{
	font-size: 'Raleway', sans-serif;
	font-size: 15px;
	color: #444444;
}

header{
	position: relative;
	background-color: #111;
	width: 100%;
	top:0;
	
}


	
#slides .carousel-caption {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-weight: 550;
	margin-top: -50px;
	margin-left: -80px;
	padding-bottom: 250px;
}

#slides h1{
	font-size: 70px;
	width: 100%;
	text-align: left;
	font-weight: 550;
	text-transform: uppercase;
}

#slides h3{
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 20px;
	padding-top: -100px;
	
}

#services{
	justify-content: center;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	margin: 100px 50px;
	}

#services h4{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin: 10px;
	
}

#services p{
	font-size: 14px;
	width: 80%;
	align-content: center;
	text-align: justify;
	margin: auto;
	
}


#services i{
	align-content: center;
	margin-left: 30px;
}

.circulo{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	line-height: 100px;
	background-size: 10px;
	border: 1px solid #00D9D9;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 0px 0px 15px 0px #00D9D9;
	font-size: 40px;
	color: #fff;
	background-color: #00D9D9;
}

.circulo:hover{
	box-shadow: 0px 0px 5px 0px #00D9D9;
}


#about{
	text-align: left;
	font-family: 'Raleway', sans-serif;
	margin: 80px 50px;
	font-size: 16px;
	padding: 50px 0;
	
 }

	

#about h2{
	text-transform: uppercase;
	font-size: 25px;
}

#about h3{
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 18px;
	margin: 20px 0;
	font-weight: 400;
}

#doctors{
	margin: 40px 0;
}

#doctors h4{
	text-transform: uppercase;
	font-size: 25px;
	padding-top: 30px;
}

#doctors p{
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 18px;
	margin: 20px 0;
    color: #444444;
	font-weight: 400;
}

#testimonios{
	background-color: #F9F9F9;
	padding: 70px;
}

#testimonios h4{
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 14px;
	width: 80%;
	margin: 20px 100px;
    color: #444444;
	font-weight: 50;
	
	
}

#testimonios h2{
	font-size: 15px;
}

footer{
	background-color:  #222;
	color:  #BABABA;
	padding: 20px;
	
	
}


footer{
	background-color: #121212;
	padding: 20px 0;
	color: #fff;
	font-size: 13px;
}

footer ul li{
	padding-right: 15px;
}

footer ul li a{
	color: #fff;
	font-size: 16px;
}